<suite name="MMT_Parallel_Suite" parallel="tests" thread-count="3">

  <test name="ChromeTest">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="HomestaysRunner.RunnerIo"/>
    </classes>
  </test>
 <test name="FirefoxTest">
    <parameter name="browser" value="firefox"/>
    <classes>
      <class name="HomestaysRunner.RunnerIo"/>
    </classes>
  </test>

 

</suite>